body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html {
  background-color: #F8F9FA;
}

#root {
    background-color: #F8F9FA !important;
}

.container {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
  background-color: #F8F9FA;
}
