body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html {
  background-color: #f8f9fa;
}

#root {
  background-color: #f8f9fa !important;
}

.container-test {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
  background: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
}
